<!--footer-->
     
<footer id="footer" class="footer">
    <hr class="hr" />
    
    <div class="container">
        <div class="copyright text-center ">
            
            <div class="social-links d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/olubiyifestus/"><i class="bi bi-linkedin"></i></a>
                <a href="https://x.com/firstus_1"><i class="bi bi-twitter-x"></i></a>
                <a href="https://github.com/firstus4/"><i class="bi bi-github"></i></a>
                <a href="https://fb.com/festus.olubiyi/"><i class="bi bi-facebook"></i></a>
            </div>
            <div class="credits">
                <!-- Bootstrap -->
                <!-- Google Fonts -->
                <!-- Copyright-->
                <div class="footer-copyright">
                    &copy; <strong class="px-1"> Firstus </strong>
                    <script>document.write(new Date().getUTCFullYear())</script>
                    &vert; All Rights Reserved.
                </div>
                <div class="design">
                   Designed by <a href="https://github.com/firstus4/">Firstus</a> &vert;
                    <a href="https://www.linkedin.com/in/olubiyifestus/">Festus Olubiyi</a>
                </div>
            </div>
        </div>
    </div>
</footer>

