{% extends 'base.html' %}

{% block title %}Resume &vert; Festus Olubiyi {% endblock %}

{% block escape %} {% endblock %} 

{% block content %}
<!-- Resume Section -->

<section class="resume resume-page" id="resume">
    
  <!-- Section Title -->
  <div class="container shadow-sm rounded-3 section-title" data-aos="fade-up">
    <h2 class="focus">Resume</h2>
      <div class="resume-item" data-aos="fade-up">
        <h3 class="resume-title" data-aos="fade-up">Profile Summary</h3>
          
        <p>
          Business Administration graduate combining sales and finance experience in a dynamic Sales Representative role. Proficient in customer engagement, sales processes, bookkeeping, and transaction management.
        </p>
          
        <p>
          Actively transitioning toward tech by learning Python and web development, with practical experience creating my first complete web application. Adaptable, driven, and committed and seeks to contribute value within a results-driven team.
        </p>
        <br>
    
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          
          <div class="row">
            <div class="col-lg-6">
            <!-- Education Section -->
              <div class="resume-item" data-aos="fade-up">
                <h3 class="resume-title">Education</h3>
            
                <div class="resume-content">
                  <article class="education-item">
                    <h4>B.Sc in Economics &lpar;inview&rpar;</h4>
                    <h5 class="view">Inview</h5>
                    <p class="institution"><em>University of Lagos, Akoka Lagos, Nigeria</em></p>
                  </article>
              
                  <article class="education-item">
                    <h4>Higher National Diploma in Business Administration</h4>
                    <h5>2020 &#8211; 2022</h5>
                    <p class="institution"><em>Gateway Polytechnic, Ogun, Nigeria</em></p>
                  </article>

                  <article class="education-item">
                    <h4>Ordinary National Diploma in Business Administration</h4>
                    <h5>2017 &#8211; 2019</h5>
                    <p class="institution"><em>Gateway Polytechnic, Ogun, Nigeria</em></p>
                  </article>
                </div>
              </div><!-- End Education Section -->
          
              <!-- Skills and Attributes -->
              <h3 class="resume-title" data-aos="fade-up">Skills and Attributes</h3>
              <div class="resume-content">
                <article class="education-item">
                  <ul>
                    <li> Business Administration and Operations Management</li>
                    <li>collaboration, leadership skills, and organizational effectiveness</li>
                    <li>Administrative support and office coordination</li>
                    <li>Proficient in Microsoft Office (Word, Excel, PowerPoint)</li>
                    <li>Web Technologies and Programming: HTML, CSS, Bootstrap, Flask, and Python</li>
                  </ul>
                </article>
              </div>
              <!-- End Skills and Attributes -->

              <!-- Personal Interest -->
              <h3 class="resume-title" data-aos="fade-up">Personal interest</h3>
              <div class="resume-content">
                <article class="education-item">
                  <ul>
                    <li>Reading Novels </li>
                    <li>Surfing the internet</li>
                    <li>Drawing</li>
                    <li>Socializing</li>
                  </ul>
                </article>
              </div>
              <!-- End Personal Interest -->
        </div>

          <div class="col-lg-6">
            <!-- Experience Section -->
            <div class="resume-item" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Professional Experience</h3>

              <div class="resume-content">
                <article class="experience-item">
                  <h4>Accountant &vert; Sales Representative  </h4>
                  <h5>2024 &#8211; Present</h5>
                  <p class="organization"><em>Placid Energy Limited</em></p>
                  <ul>
                    <li>Managing and selling products and services to both new and existing customers</li>
                    <li>Deducate prospects on products and benefits, which helps improve customer satisfaction</li>
                  </ul>
                </article>

                <article class="experience-item">
                  <h4>Subject Teacher &lpar;Agricultural Science&rpar;</h4>
                  <h5>Jan. 2023 &#8211; Oct. 2023</h5>
                  <p class="organization"><em>Army Children School &lpar;NYSC&rpar;</em></p>
                  <ul>
                    <li>Preparation of lesson plans, developing teaching materials</li>
                    <li>Delivered engaging classroom sessions</li>
                    <li>Revaluating student performance to enhance learning outcomes</li>
                  </ul>
                </article>

                <article class="experience-item">
                  <h4>Junior Web Developer</h4>
                  <h5>2017 &#8211; 2019</h5>
                  <p class="organization"><em>Daybreak Afrika Technologies</em></p>
                  <ul>
                    <li>Implemented responsive websites and web applications using modern JavaScript frameworks</li>
                    <li>Collaborated with senior developers to maintain and optimize existing applications</li>
                    <li>Participated in code reviews and contributed to team documentation efforts</li>
                    <li>Assisted in the development of RESTful APIs and microservices</li>
                  </ul>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
{% endblock %}
